<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<div align="centre">
    <a th:href ="@{/newBookForm	}"> Add Book</a>

    <h1>Books List</h1>
    <table border="1>
			<thead>
				<tr>
					<th>ISBN</th>
					<th>Book_Title</th>
					<th>Author</th>
					<th>Publisher</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each ="book : ${listBook}">
    <td>th:text="${books.ISBN}"</td>
    <td>th:text="${books.title}"</td>
    <td>th:text="${books.author}"</td>
    <td>th:text="${books.publisher}"</td>
    </tr>
    </tbody>
    </table>

</div>
</body>
</html>